<html ng-app="estimator">
  <head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase-auth-client.js'></script>
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script src="javascript/app.js"></script>
    <script src="javascript/app/controllers/AuthController.js"></script>
    <script src="javascript/app/controllers/projects/ProjectIndexController.js"></script>
    <script src="javascript/app/controllers/projects/ProjectChannelController.js"></script>
    <script src="javascript/app/router.js"></script>

  </head>
  <body ng-controller="AuthController">
    <div id="login">
      <span ng-show="user">
        {{user.email}} | <a href="#/projects">Projects</a> | <a href="#" ng-click="logout()">Logout</a>
        <hr />
      </span>
      <span ng-hide="user">
        <p>Welcome! Please login!</p>
        <label for="username">Email</label><input type="text" name="username" ng-model="login_form.email"><br>
        <label for="password">Password</label><input type="password" name="password" ng-model="login_form.password"><br>
        <button name="login" id="login" ng-click="login()">login</button>
      </span>
    </div>
    	<div ng-view>
    	</div>
  </body>
</html>