<div ng-init="linkUser()">
	<div id="#pivotal_tracker_input" ng-hide="myUser.pivotal_token">
		You don't have your Pivotal Tracker token set
		<br>
		<label for="pivotal_token">Token</label><input type="text" name="pivotal_token" ng-model="form_user.pivotal_token"><br>
		<a ng-click="updateToken(form_user)">Add token</a>
	</div>
	<div id="projects_view" ng-show="myUser.pivotal_token">
		Your pivotal token: {{myUser.pivotal_token}}
		<a ng-click="loadPivotalProjects()">Click to Load Pivotal Projects</a>
		<hr />
		<ul>
			<li ng-repeat="project in myUser.projects">
				<project-listing project="project">
			</li>
		</ul>
	</div>
</div>
