<div>
	<div id="chat">
      <div ng-repeat="msg in project.messages"><em>{{msg.from}}</em>: {{msg.body}}</div>
    </div>
    <input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message...">
    
    <label for="storySearch">Search</label><input type="text" id="storySearch" name="storySearch" ng-model="storySearch">
    <br />
	<ul>
		<li ng-repeat="story in project.stories | toArray | filter:storySearch">
			<h4>{{story.name}}</h4>
			<p>{{story.description}}</p>
			<p>{{story.current_state}}</p>
			<p ng-show="story.estimate">Estimate: {{story.estimate}} <a href="#" prevent-default ng-click="clearEstimate(story)">Clear Estimate</a></p>
			<p ng-hide="story.estimate&&!project.estimates[story.id]">
				<a href="#" prevent-default ng-click="estimateStory(story)">Esimate Story</a>
			</p>
			<ul ng-show="!!project.estimates[story.id]">
				<li style="display: inline" ng-repeat="point in project.point_scale | split:','">
					<a href="#" ng-click="addEstimate(point,story)">{{ point }}</a>
				</li>
			</ul>
			<!-- <story-listing story="story"></story-listing> -->
		</li>
	</ul>
</div>